.container {
  width: 631px;
  border: 1px solid #dadde1;
  border-radius: 10px;
}
.listtag {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
.tabContent {
  padding: 16px;
}

.details ul,
.reviews ul {
  list-style: none;
  padding: 0;
}

.details li,
.reviews li {
  margin-bottom: 8px;
}
